  
       <div id="smallBeerImage" style="padding: 1rem;" ><img src="{{this.image_url}}"  height="100"  alt="cool beer image"></div>
       
        <div id="beerAbout" style="padding: 1rem;">
                <p><a href="/beers/{{this.id}}">{{this.name}}</a></p>
                <p>{{this.description}}</p> 
                        <p>{{this.tagline}}</p> 
        </div>
